@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
* {
  margin: 0;
  font-family: "Karla", sans-serif;
}

p {
  font-family: "Karla", sans-serif;
}

h1,
h2 {
  font-family: "DM Serif Display", serif;
}

/* navbar */

#logo {
  width: 200px;
}

nav {
  background-color: #eff8ff;
  padding-top: 10px;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  justify-content: space-between;
}

ul {
  padding: 0;
}

li {
  display: inline-block;
  padding-top: 30px;
}

a {
  text-decoration: none;
  padding: 20px 10px;
  font-size: 21px;
  color: black;
}

/* héro section */
#hero {
  background-color: #eff8ff;
  padding-top: 100px;
  display: flex;
  padding: 50px;
}

#hero h1 {
  padding-top: 100px;
  padding-bottom: 30px;
  font-size: 50px;
}

#hero p {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  text-align: left;
  line-height: 125%;
}

#hero article {
  width: 50%;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
}

#hero img {
  width: 500px;
  object-fit: contain;
}

#hero #cta {
  padding: 40px;
}

button {
  padding-left: 40px;
  padding-right: 40px;
  font-size: 15px;

  background: #4600e1;
  border-radius: 11px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: #ffffff;
  display: inline-block;

  border: none;
  font-family: "Karla", sans-serif;
  font-size: 18px;
}

button:hover {
  transition-duration: 0.25s;
  color: #4600e1;
}

@media screen and (max-width: 1300px) {
  img {
    width: 300px;
  }
}

@media screen and (max-width: 1100px) {
  #hero {
    justify-content: center;
    padding: 1%;
  }

  #hero img {
    display: none;
  }

  #hero p {
    text-align: center;
  }
}

/* formations */
.container {
  background-color: #eff8ff;
  text-align: center;
  padding: 40px;
}

.container h2 {
  padding: 20px;
}

footer {
  background-color: #eff8ff;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer p {
  text-align: center;
}
